{% extends 'default.html' %}
{% load cache %}

{% load censor %}

{% cache 150 menu %}
{% block title %}
Список новостей
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="mb-3">
    <a href="{% url 'become_author' %}" class="btn btn-outline-primary">
        Стать автором
    </a>
</div>
{% endif %}

<div class="container mt-5"></div>

    <h1 class="mb-4">Все новости</h1>

    {% for post in posts %}
        <div class="card mb-4 shadow-sm">
            <div class="card-body">

                <h3 class="card-title">
                    <a href="{% url 'news_detail' post.id %}" class="text-decoration-none">
                        {{ post.title|censor }}   
                    </a>
                </h3>

                <p class="text-muted">
                    {{ post.created_at|date:"d.m.Y" }}
                </p>

                <p class="card-text">
                    {{ post.text|censor|truncatechars:20 }}
                </p>

                <a href="{% url 'news_detail' post.id %}" class="btn btn-outline-primary">
                    Читать полностью
                </a>

                <br>

                <a href="{% url 'news_edit' post.id %}"
                    class="btn btn-sm btn-outline-primary mt-2">
                    Редактировать
                </a>
            </div>
        </div>
    {% empty %}
        <p>Пока нет новостей</p>

        {% if post.type == 'NW' %}
            <a href="{% url 'news_detail' post.pk %}">{{ post.title }}</a>
        {% elif post.type == 'AR' %}
            <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>
        {% endif %}

    {% endfor %}
</div>

{% endblock %}

{% if page_obj.has_other_pages %}

<nav>
    <ul class="pagination justify-content-center">

{% if page_obj.has_previous %}
    <li class="page_item">
        <a class="page_link" href="?page=1">Первая</a>
    </li>

    <li class="page_item">
        <a class="page_link" href="?page={{ page_obj.previous_page_number }}"></a>
    </li>
{% endif %}

{% for num in page_obj.paginator.page_range %}

{% if num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}

{% if page_obj.number == num %}
    <li class="page_item active">
        <span class="page_link">{{ num }}</span>
    </li>
{% else %}
    <li class="page_item">
        <a class="page_link" href="?page={{ num }}">{{ num }}</a>
    </li>
{% endif %}

{% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <li class="page_item">
        <a class="page_link" href="?page={{ page_obj.next_page_number }}"></a>
    </li>

    <li class="page_item">
        <a class="page_link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    </li>
{% endif %}

    </ul>
</nav>

{% endif %}
